body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.status {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.status-container {
  display: flex;
  gap: 20px; /* spacing between boxes */
}
