<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index View</title>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap-5.0.2-dist/css/bootstrap.css"/>
<!--    <link rel="stylesheet" th:href="@{/static/css/mainCss.css}">-->
    <link rel="stylesheet" th:href="@{/libs/react-build-1.0.0/css/mainCss.css}"/>
</head>
<body class="container text-center">
    <div >
        <h1>Index page load by default(just type localhost://8080)</h1>
    </div>

    <div id="root"></div>

<!--    <script th:src="@{/static/js/453.9c5a6f31.chunk.js}"></script>-->
<!--    <script th:src="@{/static/js/main.df5039fb.js}"></script>-->

<!--    <script th:src="@{/libs/react-build-1.0.0/js/453.9c5a6f31.chunk.js}"></script>-->
<!--    <script th:src="@{/libs/react-build-1.0.0/js/main.df5039fb.js}"></script>-->

    <script src="/libs/react-build-1.0.0/js/script1.js"></script>
    <script src="/libs/react-build-1.0.0/js/script2.js"></script>




</body>
</html>