<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>App View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap-5.0.2-dist/css/bootstrap.css}"/>
</head>
<body>
<div class="container text-center">
    <h1>Application View</h1>
    <p><strong>App Version: </strong> <span th:text="${appVersion}"></span></p>
    <p><strong>User Message: </strong> <span th:text="${userMessage}"></span></p>
    <h3>SQL</h3>
    <p><strong>Url: </strong><span th:text="${sqlUrl}"></span></p>
    <p><strong>Driver: </strong><span th:text="${sqlDriver}"></span> </p>
    <p><strong>Email: </strong><span th:text="${email}"></span></p>
    <p><strong>Password: </strong><span th:text="${pass}"></span></p>


    <script type="text/javascript" src="/static/libs/react-build-1.0.0/script2.js"></script>
    <script type="text/javascript" src="/static/libs/react-build-1.0.0/script1.js"></script>

</div>
</body>
</html>
